body {
    /*background: #99BBFF;*/
    width: 80%;
    margin: 0px auto;
    font-family: "Microsoft YaHei UI Light";
    font-size: 17px;
    background-color: #FAFAF5;
}

div {
    /*background: #77CCFF;*/
    margin: 0px auto;
    align-items: center;
}

.head {
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
    background-image: url("pic_flip.jpg");
    background-size: cover;
}

h1 {
    text-align: 30%;
    margin-left: 10%;
}

.main {
    background: #fffde7;
    border: 3px solid #AFC9C9;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.box {
    margin: 10px;
    font-size: 21px;
}

#plot {
    
}